
    {% extends "OCPlatformBundle::layout.html.twig" %}


    {% block title %} Ajout d'une annonce - {{ parent()  }}   {% endblock %}


    {% block ocplatform_body %}

        <h2>Ajouter une annonce</h2>
        {{ include( "OCPlatformBundle:Advert:form.html.twig") }}

        <p>
            Vous ajouter une nouvelle annonce merci de ne pas changer 
            l'esprit général des l'annonces publiées.
        </p>
        <p>
            
             <a href="{{ path('oc_platform_home') }}"  class="btn btn-default">
                <i class="glyphicon  glyphicon-chevron-left"></i>
                 Retour à la liste
            </a>
        </p>
       

    {% endblock  %}
